.home {
  padding: 2em;
}

.home-sections {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.home-section {
  background-color: white;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 30%;
}

.home-section h2 {
  margin-bottom: 1em;
}

.home-section p {
  margin-bottom: 2em;
}

.home-section .btn {
  background-color: #d4af37;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}

.home-section .btn:hover {
  background-color: #b1902f;
}
